body{
	
}
.jumbotron{
	background-image: url("../images/congress.jpg");

	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-bottom: 0px;
}
#account{
	float: right;
	margin-right: 30px;
}
.firebaseui-container{
	max-width: 800px;
}
#navbar{
	padding: 0;
}
.nav-tabs.nav-justified>li>a{
	border-radius: 0 0 7px 7px;
	color: white;
	background-color: darkred;
}
.nav-tabs.nav-justified>li>a:hover{
	border-style: groove;
	border-color: black;
}
#myLibrary>a:hover{
	border-style: groove;
	border-color: black;
}
#nav-btn{
	float: right;
	margin-right: 40px;
}

#searchButtons {
	background-color: none;

}
#topic{
	background: none;
}

.btn-default-topic{
	color: blue;
	border: none;
	padding: 5px;
	background-color: none;
}

.billContainer{
	color: grey;
	background-color: ;
	border-bottom: 2px solid black;
	padding: 7px;
	font-family: Times New Roman;
}

.billContainer:hover{
	color: black;
}
.title{
	font-size: 18px;
}
.libBtn{
	float: right;
	margin-left: 5px;
	background-color: white;
	border: none;
}
.libBtn:hover{
	color: darkred;
	background-color: none;
}
.searchClickMe{
	background: none;
	border: none;
	text-align: left;
}
div.topic{
	background-color: white;
}
div.topic:hover{
	color: white;
	background-color: darkred;
	
}
.topic{
	background-color: lavender;
	border-bottom: solid 0.3px;
	padding: 5px;
	text-align: left;
}
.item>a:hover{
	background-color: white;;
	border: none;
}
.scrollable-menu{
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
}

.disabled { pointer-events: none; cursor: default; }